{% extends 'base.html' %}

{% block title %}Sign Up - Harmonia Sinfonia{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-start min-vh-100 mt-5">
  <div class="col-md-8 col-lg-6">
    <!-- Card Container for the Sign-Up Form -->
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h2 class="card-title text-center mb-4">Sign Up</h2>
        <!-- Sign-Up Form -->
        <form method="post" action="{% url 'authentication:signup' %}">
          {% csrf_token %}
          <!-- Non-field errors -->
          {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <!-- Username Field -->
          <div class="mb-4">
            {{ form.username.label_tag }}
            {{ form.username }}
            <small id="id_username_helptext" class="form-text text-muted">
              Your username must be unique and can contain letters, numbers, and @/./+/-/_ characters.
            </small>
            {% if form.username.errors %}
            <div class="alert alert-danger mt-2">
              {{ form.username.errors }}
            </div>
            {% endif %}
          </div>
          <!-- Password Field -->
          <div class="mb-4">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            <small id="id_password1_helptext" class="form-text text-muted">
              Your password must contain at least 8 characters.
            </small>
            {% if form.password1.errors %}
            <div class="alert alert-danger mt-2">
              {{ form.password1.errors }}
            </div>
            {% endif %}
          </div>
          <!-- Password Confirmation Field -->
          <div class="mb-4">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <small id="id_password2_helptext" class="form-text text-muted">
              Enter the same password as above, for verification.
            </small>
            {% if form.password2.errors %}
            <div class="alert alert-danger mt-2">
              {{ form.password2.errors }}
            </div>
            {% endif %}
          </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
