<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Harmonia Sinfonia</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Harmonia Sinfonia</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts:posts_list' %}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events:event_list' %}"
                >Events</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profiles:profile_list' %}"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="mt-4">
        <a href="{% url 'authentication:login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'authentication:signup' %}" class="btn btn-secondary">Sign Up</a>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-6jsr2v34P8YT9Mlu8vzO33+9eKFNh/cKPSF5mFghlO/rFVh+7LOXvN+v7pdT8t2x"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
