{% extends 'base.html' %}

{% block title %}Posts - Harmonia Sinfonia{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Posts</h1>
  <div class="list-group">
    {% for post in posts %}
    <a href="{% url 'posts:post_detail' post.pk %}" class="list-group-item list-group-item-action mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.content }}</h5>
        <small class="text-muted">{{ post.posted_on }}</small>
      </div>
      {% if post.image %}
      <img src="{{ post.image.url }}" class="img-fluid mt-2" alt="Post Image">
      {% endif %}
      <div class="mt-3">
        <span class="badge bg-secondary">{{ post.likes.count }} likes</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}


